*
!.gitignore
!release
!release/**
!mp_intro
!mp_intro/**
!mp_stdcell
!mp_stdcell/**
!mp_datapath
!mp_datapath/**
!mp_pnr
!mp_pnr/**
!cds.lib
!lib.defs
!.cdsinit
**/.vscode
**/.DS_Store
**/.nfs*
**/*.cdslck
